<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.henningms">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application android:allowBackup="true"/>
</manifest>
